.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d3d3d3;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    width: 50%;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 10px 0;
}
.card1{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 15px;
    padding: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
   
}
.card2{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 15px;
    padding: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    
}
.card3{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 15px;
    padding: 15px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    
}

.img1 {
    width: 100px;
    border-radius: 5px;
   
}
.content {
    margin : 15px;
}