.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d3d3d3;
    width: 50%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 10px 0;
    align-items: center;
}
.card1{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
   
}
.card2{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    
}

.img1 {
    width: 100px;
    border-radius: 5px;
    float: left;
}
.content {
    margin : 10px;
}