.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d3d3d3;
    align-items: center;
}

.main .main1 {
    background-color: white;
    width: 50%;
    min-height: 90vh;
    border-radius: 8px;
    padding: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin: 10px 0;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.card .hr {
    background-color: #d3d3d3;
    width: 100%;
    margin-top: -36px;
    margin-bottom: 30px;
}

.card h1 {
    text-align: center;
    margin: 0;
    display: inline-flex;
    font-size: 14px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 4px 14px;
    border-radius: 50px;
    text-transform: capitalize;
    z-index: 10;
    background-color: white;
}

img {
    width: 80%;
    border-radius: 5px;
}